<div class="container-fluid">
    <div class="row">
        <div id="batsmen" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <input type="radio" name="myNgTsdchart" class="myNgTsdchart" value="column" ng-model="chartType" checked>Column
        <input type="radio" name="myNgTsdchart" class="myNgTsdchart" value="bar" ng-model="chartType">Bar
        <input type="radio" name="myNgTsdchart" class="myNgTsdchart" value="pie" ng-model="chartType">Pie
        <input type="radio" name="myNgTsdchart" class="myNgTsdchart" value="line" ng-model="chartType">Line
    </div>
</div>