<div class="container-fluid">
    <ul class="treelist">
        <li ng-repeat="node in treescope track by $index">
            <a href="javascript:void(0);" ng-click="clickNode(node.id,node.class);" class="node{{node.class}}">{{ node.text }}</a>
            <ul>
                <li ng-repeat="child in node.child">
                    <a href="javascript:void(0);" ng-click="clickNode(child.id,child.class);" class="node{{child.class}}">{{ child.text }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>