<div class="container-fluid" ng-show="dataLoaded">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-12">
            Sort By :
            <select class="input-small" ng-model="sortby" style="margin-right:20px;">
                <option value="person.name">Name</option>
                <option value="phonenumber">Phone number</option>
                <option value="subscriberid">Subscriber Id</option>
                <option value="person.email">Email</option>
            </select>
            Service Type :
            <select ng-model="query.service">
                <option value="">Select</option>
                <option value="landline">Landline</option>
                <option value="broadband">Broadband</option>
                <option value="sim">Sim</option>
            </select>
        </div>
    </div>
  <div class="row heading">
    <div class="col-xs-4 col-sm-2" style="">Subscriber Id</div>
    <div class="col-xs-4 col-sm-2" style="">Name</div>
    <div class="col-xs-4 col-sm-2" style="">Email Id</div>
    <div class="col-xs-4 col-sm-2" style="">Service Type</div>
    <div class="col-xs-4 col-sm-2" style="">Phone Number</div>
  </div>
  <div class="row borders" ng-repeat="directory in vm.directories | orderBy:sortby | filter:query">
    <div class="col-xs-4 col-sm-2" style="">{{ directory.subscriberid }}</div>
    <div class="col-xs-4 col-sm-2" style="">{{ directory.person.name }}</div>
    <div class="col-xs-4 col-sm-2" style="">{{ directory.person.email }}</div>
    <div class="col-xs-4 col-sm-2" style="">{{ directory.service }}</div>
    <div class="col-xs-4 col-sm-2" style="">{{ directory.phonenumber }}</div>
  </div>
</div>